<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_arm">

  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="panda"/>
  <xacro:arg name="hand_link_name" default=''/>  
  <xacro:arg name="hand_link_name" default=''/>

  <xacro:include filename="$(find franka_description)/robots/arm_table.xacro"/>
  
  <xacro:property name="parent" value="world" />   
  <link name="${parent}"/>
  <gazebo reference="${parent}">
      <static>true</static>       
  </gazebo>  

  <!-- hand_link_name=:''  -->
  <xacro:arm_hand_table parent="${parent}" robot_name="$(arg robot_name)" hardware_interface="$(arg hardware_interface)"/>
</robot>
