<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="panda_gazebo" params="robot_name">
    
    <!-- Load Gazebo lib and set the robot namespace -->
    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/${robot_name}</robotNamespace>
        <legacyModeNS>true</legacyModeNS>
      </plugin>
    </gazebo>

    <!-- Link0 -->
    <gazebo reference="${robot_name}_link0">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link1 -->
    <gazebo reference="${robot_name}_link1">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link2 -->
    <gazebo reference="${robot_name}_link2">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link3 -->
    <gazebo reference="${robot_name}_link3">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>


    <!-- Link4 -->
    <gazebo reference="${robot_name}_link4">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link5 -->
    <gazebo reference="${robot_name}_link5">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link6 -->
    <gazebo reference="${robot_name}_link6">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link7 -->
    <gazebo reference="${robot_name}_link7">
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

  </xacro:macro>

</robot>

