<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="franka_world">
	<!-- xacro inputs -->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="panda"/>

  <!-- Include the base table, the panda robotic arm  xacro::macro-->
  <xacro:include filename="$(find franka_world)/urdf/arm_base/arm_base.xacro" />  
  <xacro:include filename="$(find franka_description)/robots/panda_arm/panda_arm.xacro"/>

  <!-- Define some parameters -->
  <xacro:property name="world_link_name" value="world" />  
  <xacro:property name="base_adapter_child" value="$(arg robot_name)_base_adapter" />  
  
  <!-- Fixed world frame -->
  <link name="${world_link_name}"/>	
	<gazebo reference="{world_link_name}">
	  <mu1>100.0</mu1>
	  <mu2>100.0</mu2>
	  <kp>1000000.0</kp>
	  <kd>1.0</kd>
	  <fdir1>1 0 0</fdir1>
	  <minDepth>0.001</minDepth>
	  <static>true</static>
	</gazebo>  

  <xacro:arm_base parent="${world_link_name}" base_adapter_child="${base_adapter_child}"/>
  <xacro:panda_arm robot_name="$(arg robot_name)" parent="${base_adapter_child}" hardware_interface="$(arg hardware_interface)">
  	<origin xyz="0 0 0.02" rpy="0 0 0"/> <!-- TODO: this offset should be inside the arm_base -->
  </xacro:panda_arm>


</robot>
