<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="panda" />  
  <arg name="robot_name"         default="panda"/>  
  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="robot_description"  default="$(arg robot_name)/robot_description"/>  
  <arg name="is_simulation"      default="true" />
  <arg name="controllers"        default="position_joint_trajectory_controller"/>
  <arg name="description_file"   default ="$(find franka_description)/robots/panda_arm_on_table.urdf.xacro"/>
  <arg name="xacro_params"      default = "hardware_interface:=$(arg hardware_interface)" /> 


  <!-- Different controller betwheen simulation and real world -->
  <arg name="ctrls_" value="$(arg controllers) franka_state_controller" unless="$(arg is_simulation)"/>
  <arg name="ctrls_" value="$(arg controllers) joint_state_controller"  if="$(arg is_simulation)"/>


  <!-- Load Robot Description -->
  <include file="$(find franka_description)/launch/load_URDF.launch">    
    <arg name="description_param" default = "$(arg robot_name)/robot_description"/>
    <arg name="description_file"  default = "$(arg description_file)" />
    <arg name="xacro_params"      default = "$(arg xacro_params)" /> 
    <arg name="robot_name"        default = "$(arg robot_name)" />
  </include>
  

  <!-- Launch gazebo world if simulating -->
  <include file="$(find franka_gazebo)/launch/gazebo.launch" if="$(arg is_simulation)">  
    <arg name="debug"    value="false" />
    <arg name="gui"      value="false" />
  </include>
  <group ns="$(arg robot_name)">    
    <!-- Load Params -->
    <rosparam command="load" subst_value="True" file="$(find franka_control)/config/default_controllers.yaml" />

    <!-- Load ros interface with libpanda if we do not simulate it using Gazebo!-->
    <node name="franka_control" pkg="franka_control" type="franka_control_node" output="screen" required="true" unless="$(arg is_simulation)">
      <rosparam command="load" subst_value="True" file="$(find franka_control)/config/franka_control_node.yaml" />
      <param name="robot_ip" value="$(arg robot_ip)" />
    </node>

    <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg ctrls_)"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
      <!-- <remap from="joint_states" to="/$(arg robot_name)/joint_states" /> -->
      <param name="robot_description" value="$(arg robot_description)"/>
      <!-- <param name="ignore_timestamp" type="bool" value="true"/> -->
    </node>

    <include file="$(find franka_moveit_config)/launch/move_group.launch">    
      <arg name="load_gripper" value="False" />
      <arg name="robot_description" value="robot_description" />
    </include>

    <include file="$(find franka_moveit_config)/launch/moveit_rviz.launch"/>
  </group>
</launch>
